<h1>Bienvenidos al chat de Socket!</h1>

<div>
    <input type="text" id="chatBox" placeholder="Escribí un mensaje...">
    <button id="chatSubmit">Enviar</button>
</div>
<div>
    <p id="divMsg"></p>
</div>