<h1>Complete el siguiente formulario para agregar un nuevo producto:</h1>

<section id="sectionForm">
  <form id="form">

    <label for="prodTitle">Nombre del producto:</label>
    <input type="text" id="prodTitle" />

    <label for="prodDescription">Descripción: </label>
    <input type="text" id="prodDescription" />

    <label for="prodPrice">Precio: </label>
    <input type="number" id="prodPrice" />

    <label for="prodStock">Stock: </label>
    <input type="number" id="prodStock" />

    <label for="prodCategory">Categoría: </label>
    <input type="text" id="prodCategory" />

    <label for="prodCode">Código: </label>
    <input type="text" id="prodCode" />

    <div id="btnDiv">
    <button type="submit">Agregar producto</button>
    </div>

  </form>

  <div>
     <p id="formProducts">Productos que agregaste: </p>
  </div>

</section>

